.vscode/**
src/**
**/*.test.ts
**/*.test.js
**/*.test.js.map
out/test/**
out/integration-tests/**
**/tsconfig.json
.eslintrc.json
.mocharc.json
build/**
.gitignore
.vscode-test/**
dist/**
node_modules/**
.github/**
AGENTS.md
demo.md
media/*.gif
media/*.png
